<!-- app/View/Users/view.ctp -->

<h1><?php echo $user['User']['id']?></h1>
<p><strong>Usuário:</strong> <?php echo $user['User']['username']?></p>
<p><strong>Nome:</strong> <?php echo $user['User']['name']?></p>
<p><strong>Perfil:</strong> <?php echo $user['User']['role']?></p>
<p><small>criada: <?php echo $user['User']['created']?></small></p>


