<!-- app/View/Customer/view.ctp -->

<h1><?php echo $customer['Customer']['id']?></h1>
<p><strong>Nome:</strong> <?php echo $customer['Customer']['name']?></p>
<p><strong>Telefone:</strong> <?php echo $customer['Customer']['phone']?></p>
<p><strong>E-mail:</strong> <?php echo $customer['Customer']['email']?></p>
<p><strong>Endereço:</strong> <?php echo $customer['Customer']['addres']?></p>
<p><strong>Aniversário:</strong> <?php echo $customer['Customer']['birth']?></p>
<p><small>criada: <?php echo $customer['Customer']['created']?></small></p>


